*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--fg: #111;
	--bg: #eee;
	--mono-font-stack: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
		monospace;
	--sans-font-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir,
		segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
		sans-serif;
	--serif-font-stack: Iowan Old Style, Apple Garamond, Baskerville,
		Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--fg: #eee;
		--bg: #111;
	}
}

html {
	color: var(--fg);
	background-color: var(--bg);
	font-family: var(--sans-font-stack);
}

body {
	margin: 0;
	overflow-x: hidden;
}

pre {
	overflow-x: auto;
	background-color: #7772;
	padding: 0.75rem;
	border: 1px solid #777;
}

code {
	font-family: var(--mono-font-stack);
	font-size: 90%;
	background-color: #7773;
	padding: 0.15rem 0.25rem;
	tab-size: 1.75rem;
	line-height: 1.5;
}

pre code {
	background-color: transparent;
	padding: 0;
}

body > nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100dvh;
	max-height: 100dvh;
	overflow-y: auto;
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	background: #272727;
	color: white;
	a {
		color: white;
	}
}

body > nav > ul {
	list-style: none;
	padding: 1rem;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

body > main {
	margin-left: 150px;
	padding: 1rem 2rem 1.5rem;
}

a {
	color: var(--fg);
	text-underline-offset: 4px;
	text-decoration-thickness: 2px;
	text-decoration-color: #777;
}

#logo h1 {
	font-family: var(--mono-font-stack);
	font-size: 1rem;
	margin: 0;
}

#logo {
	width: 100%;
	display: flex;
	justify-content: center;
	background: black;
	padding: 1rem;
	text-decoration: none;
}

a:has(#site-h1:hover) {
	text-decoration-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--serif-font-stack);
}

p {
	line-height: 1.5;
}
