@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  min-height: 5rem;
  max-height: 5rem;
  position: relative;
}

nav a {
  text-decoration: none;
}

nav a:active {
  transform: translateY(1px) scale(0.99);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h1:hover {
  color: lightgray;
}

nav ul {
  display: flex;
  gap: 0.75rem;
}

nav ul li a {
  display: flex;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
}

nav ul li a:hover {
  background: white;
  color: black;
}

nav ul li a:active {
  transform: translateY(1px) scale(0.99);
}

code {
  background-color: #7773;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 0.85em;
  letter-spacing: 0.05em;
}

p {
  line-height: 1.7;
}

main {
  margin: 1.5rem auto;
  padding: 1.5rem;
  max-width: 35rem;
  background-color: #151515;
  border-radius: 0.5rem;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.4em;
  display: inline-block;
}

a:hover {
  opacity: 0.8;
}

input {
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  font-size: 1rem;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 3px orange;
}

.btn {
  background-color: lightpink;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outlet-wrapper {
  background-color: #612;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
