/* jetbrains-mono-300 - latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 300;
  src:
    local(""),
    url(fonts/jetbrains-mono-v6-latin-300.woff2) format("woff2");
  font-display: swap;
}

/* jetbrains-mono-700 - latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src:
    local(""),
    url(fonts/jetbrains-mono-v6-latin-700.woff2) format("woff2");
  font-display: swap;
}

/* jetbrains-mono-300italic - latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 300;
  src:
    local(""),
    url(fonts/jetbrains-mono-v6-latin-300italic.woff2) format("woff2");
  font-display: swap;
}

/* jetbrains-mono-700italic - latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 700;
  src:
    local(""),
    url(fonts/jetbrains-mono-v6-latin-700italic.woff2) format("woff2");
  font-display: swap;
}
