html,
body {
  min-height: 100dvh;
}

body {
  display: flex;
  padding: 1rem;
}

@media screen and (max-width: 640px) {
  body {
    padding: 0.5;
  }
}

a:active,
button:active {
  opacity: 0.8;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: space-between;
}

nav a.logo {
  display: flex;
  margin-right: 0.5rem;
  height: 33px;
  align-items: center;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

nav a.logo:hover {
  color: rgb(194 65 12);
}

@media screen and (prefers-color-scheme: dark) {
  nav a.logo:hover {
    color: rgb(253 186 116);
  }
}

.nav-item {
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  height: 33px;
  display: flex;
  align-items: center;
  line-height: 1;
  font-weight: bold;
}

.nav-item:hover {
  background: rgb(59 130 246);
  color: white;
}

.body-inner {
  padding: 0 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .body-inner {
    padding: 0 1.25rem;
  }
}

.root-outlet-wrapper {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 640px;
  margin: 3rem auto 2rem;
}

@media screen and (max-width: 1024px) {
  .root-outlet-wrapper {
    gap: 2rem;
  }
}

.big-heading {
  font-size: 2.25rem;
  line-height: 1.5;
  opacity: 0.95;
  padding: 1.5rem 0;
}

@media screen and (max-width: 1024px) {
  .big-heading {
    font-size: 1.875rem;
    line-height: 1.375;
  }
}

footer {
  font-size: 0.75rem;
  border-top: 1px solid #7773;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  flex-shrink: 1;
}

.anchor-heading {
  display: flex;
  gap: 0.75rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 1rem;
}

.anchor-heading a {
  color: #777;
}

.anchor-heading a:hover {
  color: unset;
  text-decoration: underline;
}

.code-block {
  overflow-x: auto;
  border-radius: 1rem;
  background: rgb(30 41 59);
  border: 4px solid #7777;
  padding: 1rem 1.25rem;
  max-width: 100%;
  display: flex;
  gap: 1.25rem;
  color: white;
}

.dialog-reset {
  padding: 0;
  border: none;
  background: transparent;
}

.flex-col-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-col-wrapper-bigger {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.h2 {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  font-style: italic;
}

.inline-code {
  padding: 2px 0.25rem;
  white-space: nowrap;
}

.inline-code:not(.high-contrast) {
  background: #7772;
  border-radius: 0.25rem;
}

.inline-code.high-contrast {
  background: black;
  color: white;
}

@media screen and (prefers-color-scheme: dark) {
  .inline-code:not(.high-contrast) {
    background: #7773;
  }

  .inline-code.high-contrast {
    background: white;
    color: black;
  }
}

.list-item {
  list-style-type: disc;
  margin-left: 1.5rem;
  padding-left: 0.25rem;
  line-height: 1.75;
}

/* body {
  background: blueviolet;
} */
