body {
  font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;

  --light: rgb(244 244 245); /* tw text-zinc-100 */
  --dark: rgb(24 24 27); /* tw bg-zinc-900 */
  --fg: var(--dark);
  --bg: var(--light);

  background-color: var(--bg);
  color: var(--fg);
  max-width: 100dvw;
  overflow-x: hidden;
  word-break: break-word;
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 15px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --fg: var(--light);
    --bg: var(--dark);
  }
}
